* .csv linguist-detectable=false
* linguist-vendored
*.python linguist-vendored=true

$ github-linguist . --breakdown
91.43%  HTML
8.52%   Python
0.05%   Shell

Shell:
auto-version-commit.sh

Python:
cvnn/__init__.py
cvnn/__main__.py
cvnn/_version.py
cvnn/activation_functions.py
cvnn/cli.py
cvnn/cvnn_model.py
cvnn/data_analysis.py
cvnn/dataset.py
cvnn/initializers.py
cvnn/layers.py
cvnn/losses.py
cvnn/main.py
cvnn/montecarlo.py
cvnn/utils.py
debug/capacity_real_equivalent.py
debug/conv_memory_script.py
debug/fft_testing.py
debug/gradient_tape_complex.py
debug/initialization.py
setup.py
versioneer.py

HTML:
filled-3d-lines.html
$
$  /bin/ls -lh filled-3d-lines.html
-rw-r--r--  1 lildude  staff   3.1M 22 Sep 09:19 filled-3d-lines.html
$
